// == SECTION 00 ===================================
.sec-00 {
  pointer-events: none;
  .chips-fell & {
    pointer-events: all;
  }
  &.previous-section {
    // .cloud,
    .click-chips {
      .chips-fell & {
       top: 0;
      }
    }
    .click-chips {

    }
  }
  // .sec-00__body
  &__body {
  }
	// .sec-00__bg
	&__bg {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      transition: filter .65s ease;
      .chips-fell & {
        filter: blur(30px);
      }
    }
    &::before {
      content:'';
      position: absolute;
      inset: 0;
      z-index: 2;
      background-color: rgb(0, 0, 0,0.3);
      opacity: 0;
      transition: opacity .65s ease;
      .chips-fell & {
        opacity: 1;
      }
    }
	}
  // .sec-00__chips
  &__chips {
  }
}

.cloud {
  position: absolute;
  z-index: 6;
  transition: all .45s ease;
  .chips-fell & {
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    // transition: all .75s cubic-bezier(.43,1.79,.62,.72);
    transition: all .75s cubic-bezier(.52,1.77,.49,.82);
  }
  @media (min-width:toEm(1024.98)){
    top: 40%;
    transform: translate(0,-50%);
  }
  @media (max-width: toEm(1024.98)){
    top: 20%;
  }
  @media (min-width:$mobileSmall){
    right: 10%;
  }
  @media (max-width:$mobileSmall){
     right: -11%; 
  }
  // .cloud__sm
  &__sm {
    @include adaptiveValue("width", 200, 150,0,1440.98,480.98);
    @media (min-width: toEm(820.98)){
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 0%;
      transform: translate(-70%,-50%);
      opacity: 0;
      .loaded & {
        opacity: 1;
        transition: opacity .3s ease 0.55s;
      }
      .chips-fell & {
        opacity: 0;
        transition: opacity .1s ease 0s;
      }
    }
    @media (max-width: toEm(820.98)){
       display: none; 
    }
  }
  // .cloud__img-sm
  &__img-sm {
    @media (min-width: toEm(820.98)){
      width: 100%;
      height: auto;
    }
  }
  // .cloud__big
  &__big {
    position: relative;
    z-index: 2;
    transition: all .45s ease;
    transform: scale(0);
    opacity: 0;
    .loaded & {
      transform: scale(1);
      opacity: 1;
      transition: all .55s cubic-bezier(.52,1.77,.49,.82) 0.65s;
    }
    .chips-fell & {
      transform: scale(1.27);
      transition: all .75s cubic-bezier(.52,1.77,.49,.82) 0s;
    }
    .txt {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) rotate(-5deg);
      text-transform: uppercase;
      width: max-content;
      color: #fff;
      text-align: center;
      transition: opacit .3s ease;
      @include adaptiveValue("font-size", 60, 40,0,1440.98,480.98);
    }
  }
  // .cloud__img-big
  &__img-big {
    height: auto;
    @include adaptiveValue("width", 550, 330,0,1440.98,480.98);
  }
  // .cloud__t-1
  &__t-1 {
    br {
      &:nth-child(1) {
        @media (min-width:$mobileSmall){
           display: none; 
        }
      }
      &:nth-child(2) {
        @media (max-width:$mobileSmall){
            display: none;
        }
      }
    }
    .chips-fell & {
      opacity: 0;
    }
  }
  // .cloud__t-2
  &__t-2 {
    opacity: 0;
    .chips-fell & {
      opacity: 1;
    }
  }
	// .cloud__arrow
	&__arrow {
    position: absolute;
    bottom: 0;
    transform: translate(-50%,0);
    height: auto;
    opacity: 0;
    .loaded & {
      opacity: 1;
      transition: opacity .45s ease .55s;
    }
    .chips-fell & {
      opacity: 0;
      transition: opacity .1s ease 0s;
    }
    @media (min-width:$mobileSmall){
      right: 10%;
      width: toRem(30);
    }
    @media (max-width:$mobileSmall){
      right: 15%;
      width: toRem(20);
    }
	}
}

%img-01 {
  @include adaptiveValue("width", 330, 260,0,1440.98,480.98);
  bottom: 0;
  right: 0;

}
%img-02 {
  @include adaptiveValue("width", 360, 280,0,1440.98,480.98);
  bottom: 0;
  left: 0;
  transform: translate(-50%,50%) rotate(-60deg);
}
%img-03 {
  @include adaptiveValue("width", 200, 156,0,1440.98,480.98);
  bottom: 50%;
  left: 0;
  transform: translate(-70%,50%) rotate(16deg);
}
%img-04 {
  @include adaptiveValue("width", 430, 330,0,1440.98,480.98);
  top: 0;
  left: 0;
  transform: translate(-60%,-60%) rotate(30deg);
}
%img-05 {
  @include adaptiveValue("width", 163, 130,0,1440.98,480.98);
  top: 0;
  right: 0;
}
%img-06 {
  @include adaptiveValue("width", 500, 400,0,1440.98,480.98);
  bottom: 50%;
  right: 0;
}

.chips {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
  transform: scale(1.2);
  .loaded & {
    transform: scale(1);
    transition: transform .55s cubic-bezier(.52,1.77,.49,.82), opacity .45s ease;
    transition-delay: .45s;
  }
  // .chips__btn
  &__btn {
    pointer-events: all;
    position: absolute;
    right: 18%;
    z-index: 5;
    opacity: 0;
    transition: scale 0.3s ease, opacity .2s ease 0.45s;
    @media (min-width:$mobileSmall){
      bottom: -45%;
    }
    @media (max-width:$mobileSmall){
      bottom: -55% 
    }
    .loaded & {
      opacity: 1;
      transition: scale 0.3s ease, opacity .2s ease 0.75s;
      animation: shake 1.5s linear 1s infinite;
    }
    .chips-fell & {
      animation-play-state: paused;
      pointer-events: none;
      opacity: 0;
      transition-delay: 0s;
    }
    @media (any-hover: hover){
      &:hover{
        animation-play-state: paused;
        scale: 1.2;
      }
    }
    p {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-46%,-51%);
      width: max-content;
      text-transform: uppercase;
      color: #fff;
      text-shadow: 0 -5px 40px #450200;
      @include adaptiveValue("font-size", 36, 30,0,1440.98,480.98);
    }
  }
  // .chips__btn-img
  &__btn-img {
    height: auto;
    @include adaptiveValue("width", 330, 260,0,1440.98,480.98);
  }
  // .chips__img
  &__img {
    @media (min-width:$mobileSmall){
      position: absolute;
      height: auto;
      z-index: 5;
      transition: transform .55s cubic-bezier(.52,1.77,.49,.82), opacity .45s ease 0s;
      .chips-fell & {
        opacity: 0;
      }
    }
    @media (max-width:$mobileSmall){
       display: none; 
    }

    &.img-1 {
      @extend %img-01;
      transform: translate(-20%,70%) rotate(-20deg);
      .chips-fell & {
        transform: translate(-20%,100%) rotate(-20deg);
      }
    }
    &.img-2 {
      @extend %img-02;
      .chips-fell & {
        transform: translate(-100%,100%) rotate(-60deg);
      }
    }
    &.img-3 {
      @extend %img-03;
      .chips-fell & {
        transform: translate(-100%,50%) rotate(16deg);
      }
    }
    &.img-4 {
      @extend %img-04;
      .chips-fell & {
        transform: translate(-100%,-100%) rotate(30deg);
      }
    }
    &.img-5 {
      @extend %img-05;
      transform: translate(-60%,-60%) rotate(85deg);
      .chips-fell & {
        transform: translate(-100%,-100%) rotate(85deg);
      }
    }
    &.img-6 {
      @extend %img-06;
      transform: translate(70%,50%) rotate(-8deg);
      .chips-fell & {
        transform: translate(100%,50%) rotate(-8deg);
      }
    }
  }
}

.click-chips {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 6;
  pointer-events: none;
  transform-origin: 100% 50%;
  opacity: 0;
  transform: translate(-50%,-50%) scale(0);
  transition: transform .75s cubic-bezier(.52,1.77,.49,.82), opacity .45s ease, top .75s ease;

  @media (min-width:toEm(820.98)){
    aspect-ratio: 835/380;
  }
  @media (max-width: toEm(820.98)){
    aspect-ratio: 390/400;
  }
  @media (min-width:toEm(1500.98)){
    width: 45%;
  }
  @media (max-width: toEm(1500.98)) and (min-width:toEm(650.98)){
    width: 55%;
  }
  @media (max-width:toEm(650.98)){
    width: 100%;
  }
  .chips-fell & {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
  }
  // .cclick-chips__img
  &__img {
    position: absolute;
    height: auto;
    &.img-1 {
      @extend %img-01;
      transform: translate(50%,50%) rotate(-20deg);
    }
    &.img-2 {
      @extend %img-02;
    }
    &.img-3 {
      @extend %img-03;
    }
    &.img-4 {
      @extend %img-04;
    }
    &.img-5 {
      @extend %img-05;
      right: 50%;
      transform: translate(50%,-60%) rotate(0deg);
    }
    &.img-6 {
      @extend %img-06;
      bottom:unset;
      top: 0;
      @media (min-width:$mobileSmall){
        transform: translate(60%,-40%) rotate(-8deg);
      }
      @media (max-width:$mobileSmall){
        transform: translate(60%,-55%) rotate(-8deg);
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  6.25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  12.5% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  18.75% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  31.25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  37.5% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  43.75% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  // пауза в этом месте --------------
  50% { 
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}



// == SECTION 01 ===================================
.sec-01 {
  &.next-section {
    .sec-01__slider {
      top: 50%;
    }
  }
  &.active-section {
    .sec-01__slider {
      top: 0%;
    }
  }
  &.previous-section {
    .sec-01__slider {
      top: -50%;
    }
  }
  // .sec-01__body
  &__body {
    transition: background-color .8s ease, opacity 0.1s linear 0.5s;
      .loaded & {
        opacity: 1 !important;
      }
    &.slide-1 {
      background-color: $bg01;
      .bg-sec__clr {
        &.clr-1 {
          opacity: 1;
        }
      }
    }
    &.slide-2 {
      background-color: $bg02;
      .bg-sec__clr {
        &.clr-2 {
          opacity: 1;
        }
      }
    }
    &.slide-3 {
      background-color: $bg03;
      .bg-sec__clr {
        &.clr-3 {
          opacity: 1;
        }
      }
    }
    &.slide-4 {
      background-color: $bg04;
      .bg-sec__clr {
        &.clr-4 {
          opacity: 1;
        }
      }
    }
    &.slide-5 {
      background-color: $bg05;
      .bg-sec__clr {
        &.clr-5 {
          opacity: 1;
        }
      }
    }
    &.slide-6 {
      background-color: $bg06;
      .bg-sec__clr {
        &.clr-6 {
          opacity: 1;
        }
      }
    }
    &.slide-7 {
      background-color: $bg07;
      .bg-sec__clr {
        &.clr-7 {
          opacity: 1;
        }
      }
    }
  }
  // .sec-01__bg
  &__bg {
  }
	// .sec-01__slider
	&__slider {
    position: relative;
    transition: top .75s ease;
    z-index: 2;
    overflow: visible !important;
    height: 100vh;
    height: 100svh;
    
	}
	// .sec-01__wrapper
	&__wrapper {
	}
	// .sec-01__slide
	&__slide {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &.slide-1 {
      .pack-slide__hand {
        .hand-color {
          fill: #0A5151;
        }
      }
    }
    &.slide-2 {
      .pack-slide__hand {
        .hand-color {
          fill: #B32306;
        }
      }
    }
    &.slide-3 {
      .pack-slide__hand {
        .hand-color {
          fill: #3C68AA;
        }
      }
    }
    &.slide-4 {
      .pack-slide__hand {
        .hand-color {
          fill: #E99618;
        }
      }
    }
    &.slide-5 {
      .pack-slide__hand {
        .hand-color {
          fill: #0AA13A;
        }
      }
    }
    &.slide-6 {
      .pack-slide__hand {
        .hand-color {
          fill: #CB2D5F;
        }
      }
    }
    &.slide-7 {
      .pack-slide__hand {
        .hand-color {
          fill: #04662F;
        }
      }
    }
	}
  // .sec-01__button
  &__button {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.2);
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    transition: opacity .3s ease, background-color .3s ease;
    svg {
      width: 100%;
      height: auto;
    }
    @media (any-hover: hover){
      &:hover{
        background-color: rgb(255, 255, 255, 0.5);
      }
    }
    @media (min-width:$mobileSmall){
       width: toRem(60); 
    }
    @media (max-width:$mobileSmall){
       width: toRem(50); 
    }
    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }
    &.swiper-button-prev {
      @media (min-width:toEm(600.98)){
        left: toRem(50);
      }
      @media (max-width:toEm(600.98)){
        left: toRem(15);
      }
    }
    &.swiper-button-next {
      @media (min-width:toEm(600.98)){
        right: toRem(50);
      }
      @media (max-width:toEm(600.98)){
        right: toRem(15);
      }
    }
  }
	// .sec-01__label
	&__label {
    position: absolute;
    z-index: 20;
    
    color: #fff;
    font-size: toRem(30);
    text-transform: uppercase;
    width: max-content;
  
    
    pointer-events: none;
    transition: opacity .3s ease;
    opacity: 0;
    
    .slide-1 & {
      opacity: 1;
    }
    
    @media (min-width:$mobileSmall){
      top: 60%;
      right: toRem(40);
      transform: rotate(-5deg);
    }
    @media (max-width:$mobileSmall){
      bottom: toRem(140);
      left: 50%;
      transform: translate(-50%,0);        
    }
    
    @media (max-width: toEm(375.98)){
      bottom: toRem(90);
    }

    &::before {
      content: '';
      position: absolute;
      top: -100%;
      transform: translate(-50%,0) rotate(20deg);
      background-image:url("../img/icons/arrow-txt.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: toRem(23);
      aspect-ratio: 23/55;
      @media (min-width:$mobileSmall){
        left: 50%;
      }
      @media (max-width:$mobileSmall){
        left: 90%;
      }
    }

	}
}
  
.bg-sec {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  aspect-ratio: 1;
  width: 100%;
  border-radius: 50%;
  @media (max-width: toEm(840.98)){
      width: toRem(843);
  }
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    aspect-ratio: 1;
    border-radius: 50%;
  }
  // .bg-sec__01
  &__01 {
    width: 100%;
  }
  // .bg-sec__02
  &__02 {
    width: 79%;
  }
  // .bg-sec__03
  &__03 {
    width: 59%;
  }
  // .bg-sec__04
  &__04 {
    width: 39%;
  }
  // .bg-sec__05
  &__05 {
    width: 24%;
  }
  
  // .bg-sec__clr
  &__clr {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .8s ease;
      &.clr-1 {
        background-image: radial-gradient(50% 50% at 50% 50%, rgb(31, 159, 160) 0%, rgb(60, 195, 197) 100%);
      }
      &.clr-2 {
        background-image: radial-gradient(50% 50% at 50% 50%, rgb(200, 112, 0) 0%, rgb(231, 148, 44) 100%);
      }
      &.clr-3 {
        background-image: radial-gradient(50% 50% at 50% 50%, rgb(26, 153, 189) 0%, rgb(80, 183, 212) 100%);
      }
      &.clr-4 {
        background-image: radial-gradient(50% 50% at 50% 50%, rgb(175, 43, 34) 0%, rgb(200, 70, 62) 100%);
      }
      &.clr-5 {
        background-image: radial-gradient(50% 50% at 50% 50%, rgb(21, 60, 44) 0%, rgb(38, 100, 53) 100%);
      }
      &.clr-6 {
        background-image: radial-gradient(50% 50% at 50% 50%, rgb(82, 26, 45) 0%, rgb(115, 55, 72) 100%);
      }
      &.clr-7 {
        background-image: radial-gradient(50% 50% at 50% 50%, rgb(128, 139, 10) 0%, rgb(174, 184, 41) 100%);
      }
		}

}

.pack-slide {
  position: relative;
  display: grid;
  align-items: center;
  height: 100%;
  max-width: 70%;
  @media (min-width:toEm(820.98)){
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
  }
  @media (max-width: toEm(820.98)){
      grid-template-columns: 1fr;
  }
  // .pack-slide__pack
  &__pack {
    position: relative;
    min-height: 100%;
    transition: transform .65s cubic-bezier(.52,1.77,.49,.82);
    transform-origin: 50% 50%;
    
    &.pack-lt {
      @media (min-width:toEm(820.98)){
        .swiper-slide-prev & {
          transform: rotate(-90deg) translate(7%,-7%);
        }
        .swiper-slide-active & {
          transform: rotate(28deg) translate(7%,-7%);
        }
        .swiper-slide-next & {
          transform: rotate(130deg) translate(7%,-7%);
        }

      }
      @media (max-width: toEm(820.98)){
          display: none;
      }
    }
    &.pack-center {
      .swiper-slide-prev & {
        @media (min-width:toEm(820.98)){
          transform: rotate(-75deg);
        }
        @media (max-width:toEm(820.98)){
          transform: rotate(30deg);
        }
      }
      .swiper-slide-active & {
        transform: rotate(6deg);
        transition-delay: .2s;
      }
      .swiper-slide-next & {
        @media (min-width:toEm(820.98)){
          transform: rotate(90deg);
        }
        @media (max-width:toEm(820.98)){
          transform: rotate(-30deg);
        }
      }
    }
    &.pack-rt {
      @media (min-width:toEm(820.98)){
        .swiper-slide-prev & {
          transform: rotate(0deg) translate(-35%,14%);
        }
        .swiper-slide-active & {
          transform: rotate(-24deg) translate(-35%,14%);
          transition-delay: .3s;
        }
        .swiper-slide-next & {
          transform: rotate(-50deg) translate(-35%,14%);
        }
      }
      @media (max-width: toEm(820.98)){
        display: none;
      }
    }
  }
	// .pack-slide__wr
	&__wr {
    position: relative;
    height: fit-content;
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      height: 80%;
      min-height: 80%;
    }
	}
  // .pack-slide__hand
  &__hand {
    position: absolute;
    z-index: 5;
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      display: none;
    }
    &.hand-left {
      @include adaptiveValue("width", 1380, 470,2,1920,820.98);
      @include adaptiveValue("width", 470, 400,3,820.98,480.98);
      @include adaptiveValue("left", -64, 0,2,1920,820.98);
      @include adaptiveValue("left", 0, -40,3,820.98,320);
      @include adaptiveValue("bottom", 0,-80,0,820.98,320);
      @media (min-width:toEm(820.98)){
        top: 0;
        transform: translate(-68%,-44%);
      }
      @media (max-width: toEm(820.98)){
        transform: translate(-78%,40%) rotate(-40deg);
        // bottom: 0;
      }
    }
    &.hand-right {
      right: 0;
      top: 0;
      @include adaptiveValue("width", 762, 340,2,1920,820.98);
      @include adaptiveValue("width", 340, 172,3,820.98,320);
      @media (min-width:toEm(820.98)){
        transform: translate(50%,-50%);
      }
      @media (max-width: toEm(820.98)) and (min-width:$mobileSmall) {
        transform: translate(61%, -43%);
      }
     
      @media (max-width:$mobileSmall){
        transform: translate(61%, -47%);
      }
    }
  }
}


// == SECTION 02 ===================================
.sec-02 {
  &.next-section {
    .sec-02__video {
      top: 100%;
    }
  }
  // .sec-02__body
  &__body {
    .loaded & {
      opacity: 1 !important;
      transition: opacity 0.1s linear 0.5s;
    }
  }
	// .sec-02__bg
	&__bg {
    position: absolute;
    inset: 0;
    z-index: 0;
	}
	// .sec-02__video
	&__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: toRem(15);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top .75s ease;
	}
	// .sec-02__link
	&__link {
    position: absolute;
    z-index: 5;
    left: 50%;
    
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: max-content;
    border-radius: toRem(50);
    padding-inline: toRem(32);
    padding-block: toRem(22);
    
    box-shadow: 0 0 20px 0 rgba(236, 28, 45, 0.5);
    background: linear-gradient(180deg, #ff2638 0%, #d11222 100%);
    transition: opacity .3s ease;
    pointer-events: none;
    @include adaptiveValue("font-size", 32, 24,0,1440.98,480.98);
    .video-play & {
      @media (min-width:toEm(820.98)){
        opacity: 0;
      }
    }
    @media (min-width:toEm(820.98)){
      bottom: 0;
      transform: translate(-50%,50%);
    }
    @media (max-width: toEm(820.98)){
      bottom: toRem(-30);
      transform: translate(-50%,100%);
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      opacity: 0;
    }
	}
}

.video-youtube {
  position: relative;

  background-color: #fff;
  padding: toRem(5);
  border-radius: toRem(6);
  width: 100%;
  max-height: toRem(600);
  @include adaptiveValue("max-width", 1000, 850,0,1920,1440.98);
  @media (min-width:toEm(820.98)){
    height: 58%;
  }
  // .video-youtube__body
  &__body {
    position: relative;
    border-radius: toRem(4);
    overflow: hidden;
    z-index: 2;
    background-color: #000;
    margin-inline: auto;
    width: 100%;

    height: 100%;
    // aspect-ratio: 850/480;
    box-shadow: 4px 4px 11px 0 rgba(0, 0, 0, 0.4);
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio:  850/480;
    }
  }
  // .video-youtube__button
  &__button {
    overflow: hidden;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;

    @media (any-hover: hover){
      &:hover{
        &::before {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image:url('../img/icons/play.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform .65s ease;
      @include adaptiveValue("width", 100, 60,0,1400.98,480.98);
      @include adaptiveValue("height", 100, 60,0,1400.98,480.98);
    }
    img {}
  }
}